#parAboutMe {
  max-width: 90vw;
  margin: auto;
  font-weight: normal;
  font: medium;
  color: #414649;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  font-family: play;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
.indexSection {
  background-color: #d2e9e9;
  border: 0.2vw solid;
  padding: 2vw;
  height: auto;
}
.bulletList {
  text-align: center;
}
.bulletList > ul {
  display: inline-block;
}
.indexLinks {
  margin: auto;
  padding: 2vw;
  height: 1.6vh;
}
html {
  background-color: #c4dfdf;
  font-family: Georgia;
  font-size: 1.1vw;
  color: #414649;
}
header {
  background-color: #e3f4f4;
  text-align: center;
}
h1 {
  text-align: center;
  border: 0.2vw solid;
  padding: 3vw;
  font-family: Simplifica;
  font-weight: normal;
  font-size: 10.2vw;
  margin: auto;
}
h2 {
  color: #414649;
  font-style: italic;
  font-size: 2.5vw;
  font-family: play;
  text-align: center;
  margin: auto;
}
p {
  text-align: center;
}
li {
  text-align: left;
}
footer {
  background-color: #e3f4f4;
  text-align: justify;
}
span {
  width: 100%;
  height: 1em;
  display: inline-block;
}
a:link {
  color: rgb(28, 120, 206);
}
a:visited {
  color: rgb(5, 80, 150);
}

@font-face {
  font-family: "Simplifica";
  font-style: normal;
  font-weight: normal;
  src: local("Simplifica"),
    url("./Fonts/SIMPLIFICA\ Typeface.woff") format("woff");
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: normal;
  src: local("Play-Regular"), url("./Fonts/Play-Regular.ttf") format("woff");
}
