#parAboutMe {
  font-weight: normal;
  font: medium;
  color: #414649;
}
.indexSection {
  background-color: #d2e9e9;
  border: 2px solid;
  padding: 10px;
}
.indexPageLink {
  background-color: #d2e9e9;
  border: 2px solid;
  padding: 10px;
  height: 60px;
}
.bulletList {
  text-align: center;
}
.bulletList > ul {
  display: inline-block;
}
.indexLinks {
  margin: auto;
  padding: 10px;
  height: 20px;
}
html {
  background-color: #c4dfdf;
  font-family: Georgia;
  font-size: medium;
  color: #414649;
}
header {
  background-color: #e3f4f4;
  text-align: center;
}
h1 {
  text-align: center;
  border: 4px solid;
  padding: 40px;
  height: 200px;
  font-family: Simplifica;
  font-weight: normal;
  font-size: 140px;
}
h2 {
  color: #414649;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin: auto;
  padding: 10px;
}
p {
  text-align: center;
}
li {
  text-align: left;
}
footer {
  background-color: #e3f4f4;
  text-align: justify;
}
span {
  width: 100%;
  height: 1em;
  display: inline-block;
}
a:link {
  color: rgb(28, 120, 206);
}
a:visited {
  color: rgb(5, 80, 150);
}

@font-face {
  font-family: "Simplifica";
  font-style: normal;
  font-weight: normal;
  src: local("Simplifica"),
    url("./Fonts/SIMPLIFICA\ Typeface.woff") format("woff");
}
